In [2]:
import matplotlib.pyplot as plt
import pandas as pd

%matplotlib inline
%config IPCompleter.greedy=True

In [15]:
heapsort = pd.read_csv('../../resultados/heapsort/heapsort_10.csv', encoding='ISO-8859-1', delimiter=';')

In [24]:
heapsort["duracao (ms)"].max()

0.0

In [25]:
heapsort["duracao (ms)"].min()

0.0

In [147]:
import pandas as pd
import glob

path = '../../resultados/heapsort' # use your path
all_files = glob.glob(path + "/*.csv")
all_files.sort()
li = []

d = {'n': [], 'minimo': [],'maximo': [], 'media': [] }
df_res = pd.DataFrame(data=d)

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0,  delimiter=';', encoding='ISO-8859-1')
    n = filename[35:-4]
    minimo = df["duracao (ms)"].min()
    maximo = df["duracao (ms)"].max()
    media = df["duracao (ms)"].mean()
    df_res.loc[len(df_res)] = [n,minimo,maximo,media]
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [148]:
df_res

          n         minimo         maximo          media
0        10       0.000000       0.000000       0.000000
1       100       0.000000       0.000000       0.000000
2      1000       0.000000      15.670300       7.819295
3     10000     109.309196     218.649626     143.707728
4    100000    1666.291952    2249.510288    2013.061357
5   1000000   23025.793791   24072.464943   23507.825875
6        25       0.000000       0.000000       0.000000
7       250       0.000000      15.614748       1.561475
8      2500      15.587091      46.866655      32.791877
9     25000     343.620777     390.570164     368.649077
10   250000    5342.527628    8685.410500    6686.400676
11  2500000   58923.679829   60735.078812   59638.880229
12       50       0.000000      15.620470       1.562047
13      500       0.000000      15.666008       7.810783
14     5000      46.867609      93.765974      74.994898
15    50000     796.725512    1259.807587     938.295555
16   500000   11538.764715   15730.661392   12786.564326
17  5000000  122330.625057  134062.219381  125345.536923
18       75       0.000000       0.000000       0.000000
19      750       0.000000      15.660524       9.382343
20     7500      78.102112     156.212330     115.601993
21    75000    1265.290022    1749.589205    1514.712906
22   750000   17105.311155   20776.360273   17956.210589
23  7500000  191533.100605  198640.839577  194773.193383

In [113]:
d = {'n': [], 'minimo': [],'maximo': [], 'media': [] }
df_res = pd.DataFrame(data=d)

In [131]:
df_res["n"]

0    5
n    5
Name: n, dtype: int64

In [ ]:
df_res